@use 'sass:map';
@use '../../_styles/variables' as glob;

.inputGroup {
  position: relative;
  border-style: solid;
  border-width: glob.$uxwb-line-size;
  border-radius: glob.$uxwb-radius-size;
  padding: glob.$uxwb-padding-y-size glob.$uxwb-padding-x-size;

  input {
    background: inherit;
    border: none;
    vertical-align: middle;
    width: 100%;
    min-width: glob.$uxwb-base-size * 3;
    font-size: glob.$uxwb-base-size * 1;
  }

  label {
    position: absolute;
    left: glob.$uxwb-padding-x-size * 1.2;
    font-size: glob.$uxwb-base-size * 0.8;
    top: -(glob.$uxwb-padding-y-size);
    background: white;
    padding: 0 glob.$uxwb-base-size * 0.2;
  }
}

@each $c, $v in glob.$uxwb-colors {
  .inputColor#{$c} {
    .inputGroup {
      border-color: glob.var-color-line($c);
    }

    input {
      color: glob.var-color-bg('-dark');
    }

    label {
      color: glob.var-color-bg($c);
    }
  }
}
